{% extends "bootstrap/base.html" %}
{% block title %} Addicted to GIFs{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}
{% block content %}
	<div class = "container">
			<div class="content">
				<br />
					{% for item in giffy %}
						<div class="col-md-6 col-sm-3">
							<div class = "clearfix">
								<img src = "{{item.image_url}}">
							</div>
							<h3>{{item.title}}</h3>
							<p>{{item.excerpt|safe}}</p>
						</div>	
					{% endfor %}
			</div>
	</div>
{% endblock %}